.btn{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 37px;
}
.btn--primary{
    text-transform: uppercase; 
    color: white;
    background-color: #DB564A;
}
.btn--secondary{
    position: absolute;
    margin-top: 295px;
    color: white;
    background-color: #75C9CB;
    text-transform: lowercase;
}
.btn--secondary:hover{
    color: white;
    background-color: #DB564A;
}
