.footer{
    background-color: #76C7C1;
}
.footer--copyrights{
    background-color: hsl(174, 32%, 56%);
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: space-between;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
