.navbar{
    background-color: #76C7C1;
}
.navbar__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__items{
    display: flex;
    align-items: center;
}
.navbar__item{
    list-style: none;
    margin-right: 33px;
    color: white;
}
.navbar__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.navbar__item a:hover{
    cursor: pointer;
    color: #DB564A;
}

a:hover {
	color: #F60;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}



