.info-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(180, 180, 180, 0.47);
    border-radius: 7px;
    align-items: center;
    flex-wrap: wrap;
}
.info-message{
    display: flex;
    flex-direction: column;
}
.info{
    background-color: #F4F4F4;
    min-height: 600px;
}

