.btn{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 37px;
}
.btn--primary{
    text-transform: uppercase; 
    color: white;
    background-color: #DB564A;
}
.btn--secondary{
    position: absolute;
    margin-top: 295px;
    margin-left: 70px;
    color: white;
    background-color: #75C9CB;
    text-transform: lowercase;
}
.btn--secondary:hover{
    color: white;
    background-color: #DB564A;
}
.btn--dark{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    color: #838D8A;
}
.btn--dark .fas{
    display: none;
}
body.dark .btn--dark .fas{
    display: inline-block;
}
body.dark .btn--dark .far{
    display: none;
}

.btn-close{
    font-size: 20px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}