.info-container{
    display: flex;
    background-color: rgba(180, 180, 180, 0.47);
    border-radius: 7px;
    align-items: center;
}
.info-message{
    display: flex;
    flex-direction: column;
    
}