.btn{
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #DB564A;
    outline: none;
    cursor: pointer;
    padding: 16px 37px;
    text-transform: uppercase; 
}
.btn--primary{
   
}
.btn--secondary{
    color: white;
    border-radius: 7px;
    border: none;
    background-color: #75C9CB;
    cursor: pointer;
    padding: 16px 37px;
}
.btn--secondary:hover{
    color: white;
    background-color: #DB564A;
}
