.map{
    text-align: center;
    display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

#tr:hover{ /*Turkey*/
    fill: red !important;
}
#is:hover{ /*Iceland*/
    fill: darkblue !important;
}
#pt:hover{ /*Portugal*/
    fill: darkorchid !important;
}
#ma:hover{ /*mali?*/
    fill: darkred !important;
}
#tn:hover{ /*tunisia*/
    fill: deeppink !important;
}
#dz:hover{ /*algeria*/
    fill: darkgreen !important;
}