.info-container{
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    flex-wrap: wrap;
}
.info-message{
    display: flex;
    flex-direction: column;
}
.info{
    min-height: 600px;
}

