
.card--wrapper{
    margin: 50px 0 0 50;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 23%;
    margin-top: 45px;
    border-radius: 7px;
    background-color: #F8F8F8;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}
.card:hover{
    background-color: white;
}
.card__image{
    padding: 53px 13px 13px;
    text-align: center;
    color:#75C9CB;
    font-size: 3.625rem;
    max-width: 100%;
    
}
.card__image:hover{
    color:#DB564A;
}
/*.card__flag{
    max-width: 100%;
}
.text-box{
    display: flex;
    flex-direction: column;
    padding-bottom: 53px;
    margin-left: 20px;
    margin-right: 20px;
}